<!DOCTYPE html>

<html lang="fi" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> <%= paaotsikko %> </title>
    <link rel="stylesheet" href="/tyylit.css" type="text/css">
</head>

<body>
    <h1> <%= otsikko %> </h1>
    <div> <%= tiedot %> </div>


    <p><a href="/"><button>Takaisin kotisivulle</button></a></p>
    <p><a href="/laake"><button>Takaisin lääkesivustolle</button></a></p>
</body>
</html>