<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
<title> <% paaotsikko %> </title>
<link rel="stylesheet" href="./tyylit.css" type="text/css">
</head>



<body>
    <nav> 
        <a href="./tieto"> <button> Tietoa sairauksista </button></a>
        <a href="./testi"> <button> Testisivu </button></a>
        <a href="./laake"> <button> Lääkesivu </button></a>
    </nav>
    <h1> <%= otsikko %> </h1>
    <p> <%= viesti %></p>
    <p>
    Tämä on oma-projektini pääsivu. Sivuston tarkoitus on tarjota tietoa psykiatrisista sairauksista. 
    Tämä sivusto on vain runko, jota voisi täydentää koskemaan useampia sairauksia.</p>
    <p>Sivustolla on kolme pääteemaa. Joissa kaikissa on vain esimerkin omaisesti tällä hetkellä tietoa
        <ul>
            <li>Tietoa sairauksista, joista voi etsiä tietoa, oireen, kliinisen kuvan jne. perusteella.</li>
            <li>Tietoa lääkityksestä, jossa voi etsiä tietoa oireenmukaisesta lääkityksesta jne.</li>
            <li>Sekä "interaktiivinen" osuus, jossa voi täyttää lomakkeen, joka antaa viitteitä omasta psykiatrisen avun tarpeesta</li>
        </ul>
    </p>
    Linkit ovat aina sivun ylävasemmalla. Ja kuten voi nähdä ne ovat linjassa sivuston päätemojen mukaan.
</body>

</html>