<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kaikki lääkkeet</title>
        <link rel="stylesheet" href="/tyylit.css" type="text/css">
    </head>
    <body>
        <h2>Lääkeryhmään kuuluvat lääkkeet</h2>
        <table>
            <thead>
                <tr>
                    
                    <th>Nimi</th>
                    <th>Indikaatio</th>
                   
                </tr>
            </thead>
            <tbody>
                <% laakkeet.forEach(laake => { %>
                    <tr>
                       
                        <td>
                            <%= laake.nimi %>
                        </td>
                        <td>
                            <%= laake.indikaatio %>
                        </td>
                       

                    </tr>
                
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/laake"><button>Takaisin lääkesivustolle</button></a>
    </body>
</html>