<!DOCTYPE html>

<html lang="fi" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> <%= paaotsikko %> </title>
</head>

<body>
    <h1> <%= otsikko %> </h1>
    <p> <%= viesti %> </p>
</body>
</html>